<ul class="menu">
  <li><%= link_to('Account', accounts_index_path) %></li>
  <li><%= link_to('Edit registration', edit_user_registration_path) %></li>
  <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
</ul>

<ul class="menu">
  <li><%= link_to('Dashboard', dashboard_index_path) %></li>
</ul>
